<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home.html</title>
</head>
<body>
<h1>home!@!</h1>
<ul>
    <li th:if="${session.id == null}"><a th:href="@{/member/login}">로그인</a></li>
    <li th:if="${session.id != null}"><a th:href="@{/member/logout}">로그아웃</a></li>

    <li><a th:href="@{item/list1}">제품1</a></li>
    <li><a th:href="@{item/list2}">제품2</a></li>

</ul>
</body>
</html>
